@tailwind base;
@tailwind components;
@tailwind utilities;
.font-zahra {
  font-family: LnrPlainBold;
}
button {
  border: solid hsl(11deg 100% 62.2% / 81%);
  color: hsla(11, 100%, 62.2%, 1);
  background-color: hsl(39deg 100% 68% / 34%);
  padding: 10px 46px;
}
